<div class="modal-header">
    <h5 class="modal-title">Confirmar</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="cancel()"></button>
  </div>
  <div class="modal-body">
    <p>¿Estás seguro de que deseas eliminar este producto?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="confirmDelete()">Eliminar</button>
  </div>
  